<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Minerva</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <header>
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Testimoni</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login.html">Masuk</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="card">
            <div class="title-1">Sekolah Digital</div>
            <div class="title">Minerva</div>
            <p>Minerva merupakan kursus online secara Private yang bertujuan untuk 
                membantu  proses pembelajaran dengan harga yang sangat terjangkau, dan penyampaian materi yang mudah dipahami.</p>
            <div class="member">
                <div class="items">
                    <p>Member</p>
                    <div class="box">
                        <div>5</div>
                    </div>
                </div>
                <div class="items">
                    <p>Jam</p>
                    <div class="box">
                        <div>40</div>
                    </div>
                </div>
                <div class="items">
                    <p>Kelas</p>
                    <div class="box">
                        <div>4</div>
                    </div>
                </div>
            </div>
            <button class="gabung-btn btn">Gabung</button>
        </div>
    </div>
</body>
</html>