<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Minerva</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/home.css">
</head>
<body>
    <header>
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Testimoni</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login.html">Masuk</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="card minerva-card">
            <div class="title-1">Sekolah Digital</div>
            <div class="title">Minerva</div>
            <p>Minerva merupakan kursus online secara Private yang bertujuan untuk 
                membantu  proses pembelajaran dengan harga yang sangat terjangkau, dan penyampaian materi yang mudah dipahami.</p>
            <div class="member">
                <div class="items">
                    <p>Member</p>
                    <div class="box">
                        <div>5</div>
                    </div>
                </div>
                <div class="items">
                    <p>Jam</p>
                    <div class="box">
                        <div>40</div>
                    </div>
                </div>
                <div class="items">
                    <p>Kelas</p>
                    <div class="box">
                        <div>4</div>
                    </div>
                </div>
            </div>
            <button style="margin-top: 50px; margin-right: 20px;" class="btn">Gabung</button>
        </div>
        <br>
        <div class="divider"></div>
        <div class="card price-card">
            <div class="image">
                <img src="../assets/images/image1.png" alt="laptop">
            </div>
            <div class="desc">
                <div style="font-family: 'COCOGOOSE', sans-serif; font-size: 30px;">Harga Kelas</div>
                <br>
                <div style="font-family: 'Roboto', sans-serif; font-size: 50px; margin-top: 10px;"><strong>Rp 100.000</strong><span>/jam</span></div>
                <br>
                <div style="font-family: 'Coolvetica', sans-serif; font-size: 30px; margin-top: 10px;">Setiap hari | 08.00 - 22.00</div>
                <br>
                <div class="benefit">
                    <ul>
                        <li>Khursus secara private</li>
                        <li>Online dengan Google meet</li>
                        <li>Khursus jogja bisa offline</li>
                        <li>Dimentorin oleh instruktur yang expert di bidangnya</li>
                    </ul>
                </div>
                <button style="margin-top: 40px;" class="btn">Gabung</button>
            </div>
        </div>
        <div class="divider"></div>
        <div class="minerva-class">
            <div class="title">Kelas di Minerva</div>
            <div>
                <div class="section-class">
                    <div class="items">
                        <div class="mt-card"></div>
                        <div class="sub-card">
                            <div>Basic</div>
                            <button>Lihat</button>
                        </div>
                    </div>
                    <div class="items">
                        <div class="mt-card"></div>
                        <div class="sub-card">
                            <div>Advance</div>
                            <button>Lihat</button>
                        </div>
                    </div>
                    <div class="items" style="margin-right: 0;">
                        <div class="mt-card"></div>
                        <div class="sub-card">
                            <div>Advance</div>
                            <button>Lihat</button>
                        </div>
                    </div>
                </div>
                <div class="section-class">
                    <div class="items">
                        <div class="mt-card"></div>
                        <div class="sub-card">
                            <div>Basic</div>
                            <button>Lihat</button>
                        </div>
                    </div>
                    <div class="items">
                        <div class="mt-card"></div>
                        <div class="sub-card">
                            <div>Moderate</div>
                            <button>Lihat</button>
                        </div>
                    </div>
                    <div class="items" style="margin-right: 0;">
                        <div class="mt-card"></div>
                        <div class="sub-card">
                            <div>Advance</div>
                            <button>Lihat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimoni">
            <div class="title">Testimoni</div>
            <div class="testimoni-card">
                <div class="image">
                    <img src="../assets/images/profile_image.png" alt="">
                </div>
                <div class="desc">
                    <div style="font-size: 25px; font-family: 'COCOGOOSE', sans-serif;">Unknown</div>
                    <p style="font-size: 15px; font-family: 'Actor', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco </p>
                </div>
            </div>
            <div class="bullet">
                <div>
                    <input name="bulletRadio" class="testi1" type="radio" checked/>
                </div>
    
                <div>
                    <input name="bulletRadio" id="testi2" type="radio"/>
                </div>
    
                <div>
                    <input name="bulletRadio" id="testi3" type="radio"/>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="side-kiri parent">
                <img src="../assets/images/blue_logo.png" alt="Logo">
                <p>
                    Kami berusaha menjangkau semua lapisan masyarakat yang layak untuk mendapatkan pendidikan dengan Kelas Offline yang akan kami buat gratis  untuk anak-anak yang belum mendapatkan kesempatan 
                    untuk bersekolah.</p>
                <div class="child-1">DI Yogyakarta</div>
                <div class="child-2">Jl. Laksda Adisucipto No.Km 8,5, Kalongan, Maguwoharjo <br> Kec. Depok, Kabupaten Sleman <br> Daerah Istimewa Yogyakarta 55281</div>
            </div>
            <div class="side-kanan parent">
                <div class="child-1">Kontak Kami</div>
                <div class="kontak">Email : <span>learnminerva2021@gmail.com</span></div>
                <div class="kontak">Instagram : <span>@learn.minerva_</span></div>
                <div class="kontak">Whatsapp : <span>0812-3456-7891</span></div>
                <div class="btn-container">
                    <button class="contact-btn btn-1">Chat</button>
                    <div class="child-2">or</div>
                    <button class="contact-btn btn-2">Another</button>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright 2023 by Team 3 Genbox</div>
    </div>
</body>
</html>