<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Minerva</title>
    <link rel="stylesheet" href="../assets/login.css">
    <link rel="stylesheet" href="../assets/home.css">
</head>
<body>
    <nav>
        <a class="navbar" href="index.html"><img src="../assets/images/logo.png" alt=""></a>
        <ul class="link-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="register.html">Daftar</a></li>
        </ul>         
    </nav>
    
    <div class="c-login">
        <div class="masuk">Masuk</div>
        <div class="masuk1">masuk terlebih dahulu</div>
        
        <form class="login">
            <div class="input">
                <input type="text" class="form-username" id="email" placeholder="username">
                <hr>
                <input type="text" class="form-password" id="email" placeholder="password">
            </div> 
        </form>

        <div class="b-masuk">
            <button class="btn-1">Masuk</button>
        </div>
        <div class="or"><p>or</p></div>  
        <div class="b-google">
            <button class="btn-2">Google</button>
        </div>
        <div class="daftarkan">belum punya akun? <a href="register.html">daftar</a></div>
    </div>
    
</body>
</html>