<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Minerva</title>
    <link rel="stylesheet" href="../assets/profile.css">
    <link rel="stylesheet" href="../assets/home.css">
</head>
<body>
    <header>
        <img class="logo" src="../assets/images/logo.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Testimoni</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login.html">Masuk</a></li>
            </ul>
        </nav>
    </header>
    <div class="profile-card">
        <ul class="propil">
            <li>
                <div class="poto-profile">
                    <div class="bul1"></div>
                </div>
                <span>Username</span>
            </li>
        </ul>
        <div class="select-kls">
            <select class="kelas">
                <option value="">Pilih Kelas</option>
                <option value="first">Basic</option>
                <option value="sec">Moderate</option>
                <option value="third">Advanced</option>
            </select>
            <div class="icon-selector">
            </div>
         </div>
         <div class="waktu">
            <ul class="time">
                <li><div class="select-jam">
                    <select class="jam">
                        <option value="">Jam</option>
                        <option value="first">Pagi</option>
                        <option value="sec">Siang</option>
                        <option value="third">Malam</option>
                    </select>
                    <div class="icon-selector">
                    </div>
                 </div></li>
                <li><div class="select-hari">
                    <select class="hari">
                        <option value="">Hari</option>
                        <option value="">Senin</option>
                        <option value="">Selasa</option>
                        <option value="">Rabu</option>
                        <option value="">Kamis</option>
                        <option value="">Jumat</option>
                        <option value="">Sabtu</option>
                        <option value="">Minggu</option>
                    </select>
                    <div class="icon-selector">
                    </div>
                 </div></li>
            </ul>
            <button class="pesan">Pesan</button>
         </div>
    </div>
    
</body>
</html>