<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Minerva</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/register.css">
</head>
<body>
    <nav>
        <a class="navbar" href="index.html"><img src="../assets/images/logo.png" alt=""></a>
        <ul class="link-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>         
    </nav>
    
    <div class="c-login">
        <div class="masuk">Daftar</div>
        <div class="masuk1">Daftar dan bergabung ke dalam kelas</div>
        
        <form class="login">
            <div class="input">
                <input type="text" class="form-username" placeholder="Username">
                <hr>
                <input type="password" class="form-password" placeholder="Password">
                <hr>
                <input type="password" class="form-konfirmasi-password" placeholder="Konfirmasi Password">
            </div> 
        </form>

        <div class="container-btn">
                <button class="btn-1">Masuk</button>
                <button class="btn-2">Google</button>
        </div>

        <div class="daftarkan">Sudah punya akun? <a href="login.html">Login</a></div>
    </div>
    
</body>
</html>