@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.cdnfonts.com/css/coolvetica');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose-pro?styles=17437,17444,17446,17442');

:root {
    --primary-color: #0080FF;
    --secondary-color: #333333;
    --background-color: #ECECEC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* ------------------------------------------------------------------ Login Page --------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 64px;
    padding: 18px 70px;
    background-color: #0080FF;
}

.navbar {
    width: 100%;
    height: 75px;
    margin-right: 82px;
}

.link-nav {
    display: inline;
    padding: auto 42px;
}

.link-nav li {
    display: inline;
    list-style: none;
}

.link-nav li a {
    color: white;
    font-family: 'COCOGOOSE', sans-serif;
    padding-right: 43px;
}

.navbar-nav {
    display: inline;
    padding: 23px 80px;
    color: #FFFFFF;
    text-decoration: none;
}

body {
    background-color: #0080FF;
}

.c-login {
    width: 584px;
    height: 538px;
    margin: 57px auto;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.masuk {
    padding-top: 20px;
    color: #333333;
    text-align: center;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 400px;
    font-size: 48px;
}

.masuk1 {
    padding-top: 9px;
    text-align: center;
    font-family: 'Cocogoose Pro', sans-serif;
    font-weight: 250px;
    font-size: 18px;
    color: #333333;
}

.input {
    margin: 18px auto;
}

hr {
    width: 412px;
    margin-top: 15px;
    margin: 15px auto;
}

.form-username {
    width: 412px;
    height: 30px;
    margin-top: 45px;
    margin-left: 86px;
    font-family: 'COCOGOOSE', sans-serif;
    text-align: center;
    font-size: 24px;
    border: none;
}

.form-password {
    width: 412px;
    height: 30px;
    margin-left: 86px;
    font-family: 'COCOGOOSE', sans-serif;
    text-align: center;
    font-size: 24px;
    border: none;
}

.b-masuk {
    margin: 50px auto 3px;
    cursor: pointer;
    
}

.b-masuk, .btn-1 {
    width: 267px;
    height: 63px;
    border-radius: 16px;
    border: #0080FF;
    background-color: #0080FF;
    font-size: 18px;
    font-family: 'COCOGOOSE', sans-serif;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.b-google {
    margin: 4px auto 20px;
    cursor: pointer;
}

.b-google, .btn-2 {
    width: 267px;
    height: 63px;
    border-radius: 16px;
    background-color: #ffff;
    font-size: 18px;
    border-color: #0080FF;
    font-family: 'COCOGOOSE', sans-serif;
    color: #0080FF;
    text-align: center;
    cursor: pointer;
}

.or {
    margin: 3px auto;
    text-align: center;
}

.or p {
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: 'COCOGOOSE', sans-serif;
    color: grey;
}

.or p:before {
    content: " ";
    border-bottom: 3px solid black;
    width: 32px;
    left: 40px;
    top: 50%;
    position: absolute;
    display: inline-block;
}

.or p:after {
    content: " ";
    border-bottom: 3px solid black;
    width: 32px;
    right: 40px;
    top: 50%;
    position: absolute;
    display: inline-block;
}

.daftarkan {
    margin: 20px auto;
    text-align: center;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 13px;
}

.daftarkan a {
    font-size: 13px;
    font-family: 'COCOGOOSE', sans-serif;
    text-align: center;
}