@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.cdnfonts.com/css/coolvetica');

:root {
    --primary-color: #0080FF;
    --secondary-color: #333333;
    --background-color: #ECECEC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Landing Page */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 100px;
    background-color: var(--primary-color);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    position: relative;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    color: #FFFFFF;
    font-family: 'COCOGOOSE', sans-serif;
}

.nav-links li a:hover {
    color: var(--secondary-color);
}

.container {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 100px;
}

.card {
    background-color: white;
    margin: 50px auto;
    text-align: center;
    align-items: center;
    padding: 100px 250px;
    border-radius: 30px 30px 30px 30px;
    border-top: 10px solid #87CEEB;
    /* box-shadow: inset 0px 10px 0px 0px rgba(135, 206, 235, 1); */
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.20);
    /* margin: 50px; */
}

.title {
    color: var(--secondary-color);
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 400;
    font-size: 64px;
}

.title-1 {
    color: var(--secondary-color);
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 24px;
}

.card p {
    font-family: 'Actor', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

.member {
    align-items: center;
    padding: 0px 50px;
    margin-top: 50px;
}

.member p {
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 15px;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.member .items {
    display: inline-block;
    margin-right: 20px;
}

.member .items .box {
    border: 4px solid #C4C4C4;
    border-radius: 20px 20px 20px 20px;
    min-width: 130px;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member .items .box div {
    font-family: 'Coolvetica', sans-serif;
    font-size: 50px;
    border-bottom: 4px solid #C4C4C4;
}

.gabung-btn {
    width: 300px;
    height: 70px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 20px 20px 20px 20px;
    border: 0;
    background-color: var(--primary-color);
    color: white;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1b5885;
}
